@media only screen and (max-width: 767px) { 
	header{
	padding: 1.4em;
}
section {
    padding: 40px 0;
}
.box {
	margin: 0 auto;
	width: 60%;
    padding: 1%;
}

.logo {
	
	font-size: 190%;
	margin-top: 0;
	width: 5%;
	height: 5%;

}
.main-nav li {
	padding: 5px;
    margin-left: 0px;
}

header figure {
	width: 100%;
    right: 0px;
	position: absolute;
}

header figure figcaption {
	top: 28%;
	position: absolute;
}

header .header-back{
	box-shadow: none;

}

.center {
	margin-top: 2em;
}
.hero-text {
	
	width: 100%;
	border: 0px solid black;
}
.center {
	text-align: center;
	margin-top: 22em;
}
.hero-text button{
	margin: 0 auto;
	font-size: 70%;
	padding: 14px;
	color: white;
	background-color: #78a2d2;
}

.why-should h4:after {
    margin-top: 30px;

}
.box-centered {
	margin: 0 auto;
	width: 85%;
    padding: 1%;
}
.levels .row {
	padding: 0;
	border: 0px solid black;
	width: 80%;
}
.levels .box {
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	
}
.levels .box p {
	font-size: 90%;	
}
h4 {

	font-size: 100%;
	margin-bottom: 30px;

}



}